// COLORS
$color-primary: #bb45dc;

$color-white: #fff;
$color-black: #000;  


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 1440px;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$padding:143px;