.header{
    height: 13.3rem;
    background-size: cover;
    position: relative;
    background-position: top;

    &__logo-box{
        position: absolute;
        top: 4.1rem;
        left: 11.1rem;

        @include respond(desktop){
            position: absolute;
            top: 4.1rem;
            left: 5.51rem;
        }
    }
    &__logo{
        height: 5.1rem;
        width: 12rem;
    }
    
   
}