.btn{
    &,
    &:link,
    &:visited{
        text-decoration: none;
        width: 138px;
        height: 38px;
        display: inline-block;
        transition: all .2s;
        position: relative;
        margin-right: 10px;
        cursor: pointer;  
        margin-top: 30px;
    }    
    &--signup{
        width: 138px;
        height: 38px;
        background-color: $color-primary;
        border-radius: 4px;
        color: $color-white;
        border: 1px solid #a62ec8;
        font-family: Poppins-SemiBold;
        font-size: 18px;
        font-weight: 600;
        opacity: 0.78;
        padding: 5px 6px 34px 34px;
        margin-left: 52px;
        margin-right: 18px;
    }
    &--login {
        background: transparent;
        color: $color-white;
        border-radius: 4px;
        border: 1px solid $color-white;
        font-family: Poppins-SemiBold;
        font-size: 18px;
        font-weight: 600;
        opacity: 0.76;
        padding: 5px 6px 34px 34px;   
    }
    &--daftar{
        width: 257px !important;
        height: 48px !important;
        font-size: 15px;
        border-radius: 3px;
        background-color: #ffffff;
        font-family: Poppins-SemiBold;
        text-transform: uppercase;
        color: $color-primary;
        padding: 12px 52px;
    }
    &--find{
        width: 257px !important;
        height: 48px !important;
        box-shadow: 0 5px 8px rgba(138, 50, 193, 0.75);
        border-radius: 3px;
        background-image: linear-gradient(223deg, #742dc4 0%, #521893 100%);
        color: #fff;
        letter-spacing: 0.4px;
        font-size: 15px;
        font-family: Poppins-Medium;
        font-weight: 700;
        padding: 12px 12px 29px 57px;
    }
    &--padding{
        position: absolute;
        margin-left: -29px;
    }
    &--another{
        width: 25.7rem !important;
        height: 4.8rem !important;
        box-shadow: 0 5px 8px rgba(187, 186, 188, 0.75);
        border-radius: 0.3rem;
        background-image: linear-gradient(224deg, #d266ee 0%, #cf66ed 12%, #c965ec 31%, #a160e0 100%);
        font-family: Avenir;
        color: $color-white;
        font-size: 15px;
        font-weight: 900;
        line-height: 53px;
        text-transform: uppercase;
        padding: 0.1rem 6.9rem 1rem 7rem;
        margin-top: 8.3rem !important;
        margin: 0 0 0 40rem;
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0,0,0,.2);


        &::after{
            transform: scaleX(1.4) scaleY(1.6) ;
            opacity: 0;
        
        }
    }
    &:active,
    &:focus{
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black,.2);
    }
    &:after{
        content: "";
        display: inline-block;
        height:100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    
    }
    &--animated{
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
    
}
