#finding{
    opacity: 0;
    transform: translateY(70px);
    transition: all 1s ease-out;

}
#finding.fade-in{
    opacity: 1;
    transform: translateX(0)
}
#finding2{
    opacity: 0;
    transform: translateY(70px);
    transition: all 1s ease-out;

}
#finding2.fade-in{
    opacity: 1;
    transform: translateX(0)
}
#finding3{
    opacity: 0;
    transform: translateY(70px);
    transition: all 1s ease-out;

}
#finding3.fade-in{
    opacity: 1;
    transform: translateX(0)
}
#finding4{
    opacity: 0;
    transform: translateY(70px);
    transition: all 1s ease-out;

}
#finding4.fade-in{
    opacity: 1;
    transform: translateX(0)
}
#finding5{
    opacity: 0;
    transform: translateY(70px);
    transition: all 1s ease-out;

}
#finding5.fade-in{
    opacity: 1;
    transform: translateX(0)
}