.spinner {
    margin: -34.4rem 26rem 0px;
    width: 70px;
    text-align: center;
    position: absolute;
    @include respond(desktop){
        
    }
  }
  
  .spinner > div {
    width: 8px;
    height: 8px;
    background-color: $color-white;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    margin-right: 0.2rem;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
.spinner2 {
    margin: -16.1rem 35rem 0px;
    width: 70px;
    text-align: center;
    position: absolute;
    @include respond(desktop){
        
    }
}
// Second Shinner
.spinner2 > div {
  width: 8px;
  height: 8px;
  background-color: $color-white;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  margin-right: 0.2rem;
}

.spinner2 .bounce4 {
  -webkit-animation-delay: -0.45s;
  animation-delay: -0.45s;
}

.spinner2 .bounce5 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
  
 
 