.main{
    width: 100%;
    padding-top: 5.5rem;
    .padding{
        padding-left: 14.3rem;

        @include respond(desktop){
            padding-left: 10.3rem;
            padding-right: 10.3rem;
        }
    }
    &__bg{
        height: 74.4rem;
        background-image: url('/assets/img/dekstop/Bg_header.png');
        background-size: 100% 100%;
    }
    &__logo{
        width: 480px;
        height: 430
    }
    
}
.taaruf{
    height: 798px;
    position: relative;
    
    &__fitur{
        margin: 0 auto;
        width: 572px;
    }
    &__logo{
        box-shadow: -5px 5px 12px 3px rgba(83, 83, 83, 0.07);
    }
    &__pencarian{

        &--1{
            height: 600px;
            padding-top: 87px;
        }
        &--2{
            margin-top: 18.3rem;
            padding-left: 19.9rem;
            @include respond(desktop){
                margin-top: 18.3rem;
                padding-left: 9.95rem;
            }
        }
        &--01{
            padding-left: 8.5rem;
            @include respond(desktop){
                padding-left: 6rem;
            }
        }
        &--03{
            width: 74rem;
            height: 46.9rem;
            @include respond(desktop){
                width: 68rem;
                height: 469;
            }
        }
    }
}
.matching{
    height: 500px;
  
    &__figure1{
        margin-top: 18.3rem;
        padding-left: 14.3rem;
        @include respond(desktop){
            margin-top: 18.3rem;
            padding-left: 10.3rem;
        }
    }
    &__figure2{
        padding-top: 102px;
        height: 600px;
    }
    &__figure3{
        height: 43rem;
        width: 73.1rem;
        @include respond(desktop){
            height: 40rem;
            width: 70rem;
        }

        &--01{
            width: 100%;
            padding-right: 53px;

        }
    }
    
}
.chat{
    height: 500px;

    &__taaruf1{
        
    }
    &__taaruf2{
        width: 64.5rem;
        height: 37.6rem;
        padding-left: 8.5rem;
        @include respond(desktop){
            width: 64.5rem;
            height: 37.6rem;
            padding-left: 6rem;
        }

        &--01{
            width: 100%;
        }
    }
}
.nadzor{
    height: 500px;

    &__taaruf1{
        padding: 14.3rem;
        @include respond(desktop){
            padding: 10.3rem;
        }
    }
    &__taaruf2{
        height: 400px;
        width: 415px;
        .popup__img{
            width: 100%;
        }
    }
}
.maps{
    width: 100%;
    height: 500px;
    background-color: #3d364a;

    &__member1{
        padding-left: 77px;
        margin-top: 122px;
        width: 480px;
        height: 335px;
    }
    &__member2{
        margin-top: 15rem;
    }
    &__location{
        width: 100%;
    }
    &__coverage{
        width: 74.8rem;
        height: 31.5rem;
        @include respond(desktop){
            width: 73.8rem;
            height: 31.5rem;
        }
    }    
}
.gallery{
    height: 879px;
    background-color: red;

    &__mawaddah{
        width: 503px;
        margin: 0 auto;
    }
    &__mawaddah1{
        padding: 0px 191px 0px 191px;
    }    
}
.partner{
    width: 100%;
    height: 915px;

    &__mawaddah{
        width: 570px;
        margin: 0 auto;
    }
    &__taaruf{
        width: 924px;
        height: 65px;
        padding-top: 75px;
        margin: 0 auto;
    }
  
}
.footer{
    width: 100%;
    height: 63.3rem;
    background-color: #3d364a;

    &__mawaddah{
        padding-top: 122px;
        padding-left: 86px;
        display: flex;
    }
    &__first{
        height: 28.7rem;
        width: 39.1rem;
        margin-right: 90px;  
        @include respond(desktop){
            margin-right: 0px; 
            height: 28.7rm;
            width: 36rem; 
        }
    }
    &__second{
        height: 287px;
        width: 183px;
        margin-right: 75px;
        @include respond(desktop){
            width: 17.3rem;
        }
    }
    &__third{
        height: 287px;
        width: 183px;
        margin-right: 77px;
    }
    &__fourth{
        height: 287px;
        width: 296px;
    }
    &__taaruf{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-top: 13rem;
        padding-right: 3rem;
        @include respond(desktop){
            padding-top: 7rem;
        }

        &--01{
            padding-left: 86px;
        }
        &--03{
            width: 348px;
            height: 34px;
            opacity: 0.52;
            color: #ffffff;
            font-family: Avenir;
            font-size: 15px;
            font-weight: 300;
            line-height: 34px;

        }
        img.footer__taaruf--02{
            width: 120px;
            height: 51px;    
        }
        
    }
}
.user-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    margin-left: -90px;
    width: 31rem;
    position: relative;

    &__icon{
        position: absolute;
        width: 50%;
        display: flex;
        justify-content: space-between;
       
        &--1{
            color: #fff;
            fill: currentColor;
        }
        &--2{
            color: #fff;
            fill: currentColor;
        }
        &--4{
            color: #fff;
            fill: currentColor;
        }
        &--4{
            color: #fff;
            fill: currentColor;
        }

    }
}